<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Montserrat:wght@400;600&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

   

    <link rel="stylesheet" href="./navbar.css">
    <link rel="stylesheet" href="./espaceclient.css">
    <link rel="stylesheet" href="./footer.css">
    <title>Bienvenue - Les Bienfaits de la Spiruline</title>
  
</head>
<body>
  <div class="fade-in">
    <div class="fullscreen-image">
      <main>
        <%- include('header') %>
      <section class="boxEspaceClient">
        <section class="box">
          <nav class="nav">
            <ul>
              <li class="navnom"><%= user.last_name %> <%= user.first_name %></li>
              <li><button class="informations">Mes Informations</button></li>
              <li><button class="commandes">Mes Commandes</button</li>
            </ul>
          </nav>
        <section class="boxInfoClient">
          <h1>Informations personnel</h1>
       <p>NOM: <%= user.last_name %></p>
       <p>PRENOM: <%= user.first_name %></p>
       <p>TELEPHONE: <%= user.phone_number %></p>
       <p>E-MAIL: <%= user.email %></p>
       <p>ADRESSE: <%= user.address %></p>
      </section>
      <section class="boxCommandes">
<p>mes commandes</p>
<table border="1">
  <thead>
      <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix</th>
          <th>Date de la commande</th>
      </tr>
  </thead>
  <tbody>
    <% ordersItems.forEach(item => { %>
    <tr>
      <td data-label="Produit"><%= item.product %></td>
      <td data-label="Quantité"><%= item.quantity %></td>
      <td data-label="Prix"><%= item.amount_euros %></td>
      <td data-label="Date de la commande"><%= item.order_date %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
      </section>
    </section>
</section>

</main>
    </div></div>
    <footer>
    </footer>
    <script src="/scriptsession4.js"></script>
  <script src="./scripespaceclient.js"></script>
</body>
</html>
